USE [master]
GO
/****** Object:  Database [SharedData]    Script Date: 10/2/2022 21:54:17 ******/
CREATE DATABASE [SharedData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'API', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\API.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'API_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\API_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SharedData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SharedData]
GO
/****** Object:  Table [dbo].[salt]    Script Date: 10/2/2022 21:54:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salt](
	[guid] [uniqueidentifier] NOT NULL,
	[user_guid] [uniqueidentifier] NOT NULL,
	[salt] [nvarchar](36) NULL,
	[created_timestamp] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 10/2/2022 21:54:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[guid] [uniqueidentifier] NOT NULL,
	[mail] [nvarchar](500) NOT NULL,
	[password] [binary](32) NOT NULL,
	[user_name] [nvarchar](500) NOT NULL,
	[created_timestamp] [datetime] NOT NULL,
	[is_enable] [char](1) NOT NULL,
	[role] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[guid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[salt] ADD  DEFAULT (getdate()) FOR [created_timestamp]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT (getdate()) FOR [created_timestamp]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ('Y') FOR [is_enable]
GO
ALTER TABLE [dbo].[salt]  WITH CHECK ADD FOREIGN KEY([user_guid])
REFERENCES [dbo].[user] ([guid])
GO
USE [master]
GO
